.Rproj.user
.Rhistory
.RData
.Ruserdata
setLastfm.R
.gitignore
lastfmShiny/.Renviron
.Renviron
.Rapp.history
*.rds
.httr-oauth
tempfile.csv
tracks.csv
lastfmShiny/tracks.csv
tempData/
plexDB.csv
plex2020.html
*.html
plexMasterRatings.csv
